/* 
Author : Carlos Raniel Ariate Arro 

Last Update Date & Time : Thursday,July 30 2021  10:45pm

Notes : 

The fonts are from the Google Font API that is located in
the index.html file. 

Need to use media query for the background-image as the 
image shrinks in height ,and outputs a white screen at the 
lower half of the screen when the window gets resized - fixed 
*/

html,body{
    background: url("backgrounds/background_1.jpg") no-repeat center fixed;
    width:100%;
    overflow-x:hidden; 
}

#main-body{
    display:grid;
    grid-template-columns: auto auto auto;
}

#header{
    position:fixed;
    top:0;
    font-family:'Pacifico',cursive;
    color: rgba(255, 255, 255, 0.39);
    font-family: Pacifico;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;

}

.middle-section{
    margin-top: 5%;
    margin-bottom: 10%;
}

#title-section{
    font-family: 'Pacifico',cursive;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:white;
    text-align: center;   
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 53px;
    padding-top: 50px;
    /* identical to box height */
}
#Timer-section{
    align-items: center;
    display: flex;
    justify-content: center;
}
.timer-outer{
    background-color: #FCFCFC;
    text-align:center;
    width:20em;
    height:20em;
    border-radius:10rem;
    display:flex;
    justify-content: center;
    align-items: center;
}


.timer-inner{
    background-color: #FFB6D5;
    text-align:center;
    width:18.5em;
    height:18.5em;
    border-radius:15rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.timer-text{
    background-color: #FCFCFC;
    text-align:center;
    width:16.5em;
    height:16.5em;
    border-radius:15rem;
    display:flex;
    justify-content: center;
}

.timer-text h4{
    color:#3D3D3D;
    padding: 22% 0 23% 0;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.btn{
    background: white;
    border-radius: 15rem;
    padding: 1rem;
    transition: 0.4s ease;
    border:2px solid white;
}
.timer-buttons{
    padding-top: 30px;
    text-align: center;    
}

.btn:hover{
    background-color:#232323;
    color:#FF3257;
}

.fa-clock{
    color:#FF3257;
}


#footer{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    position:fixed;
    bottom: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.38);
}

#TaskList-section{
    background: linear-gradient(180deg, rgba(255,255,255,0.3312)0%,rgba(255,255,255,0.6058)65.62%,rgba(244,244,244,0)100%);
    display: grid;
    grid-template-columns: 50px 350px  50px;
    grid-template-rows: 100px;
    height: 95vh;
    margin-left:30%;
}
.arrow_Section{
    display:flex;
    grid-row-start: 1;
    grid-row-end: 4;
}
.arrow_Section button{
    padding: 10px;
    border: none;
    background: none;
    display:flex;
    /* centering the text inside the button */
    align-items:center;
    justify-content:center;
    transition: 0.4s ease-in;
}

.arrow_Section button:hover{
    background-color: rgba(255,255,255,0.2);

}

.TaskList_Title{
    display: table;
}

.TaskList_Title h2{
    font-family:'Pacifico',cursive;
    color:white;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.TaskList_btn{
    display: table;
    
}


.TaskList_btn button{
    margin-right: 1%;
    position: absolute;
    right:    0;
    bottom:   5%;
    background: white;
    border-radius: 15rem;
    padding: 1rem;
    transition: 0.4s ease;
    border:2px solid white;
}

.TaskList_btn button:hover{
    box-shadow: 0px 10px 30px rgba(255, 255, 255, 0.4);
}

.TaskList_form form{
    position: absolute;
    right:    20;
    bottom:   5%;
    margin-right: 10px;
}









